@import url('https://fonts.googleapis.com/css2?family= Lobster +Two:wght@400;700 & display=swap');

* {
  margin: 0px;
  padding: 0px;
}

html {

  background-color: #d0d3d5;
}

.cabecalho {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: #240112;
  padding: 12px 40px 12px 50px;
}

.logo {
  color: #da1753;
  font-size: 70px;
  font-family: 'Lobster Two', cursive;
  font-weight: 700;
}

.menuimg {
  width: 40px
}

.menu {
  display: none;
}

.menu ul {
  display: flex;
  background-color: #363636;
  padding: 20px;
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {

  .menuimg {
    width: 20px;
  }

  .logo {
    font-size: 30px;
  }

  .list {
    font-size: 9px;
  }

  .menu ul {
    padding: 8px 2px;
  }

  .menu ul li {
    padding: 0px;
  }

}

.menu ul li {
  list-style: none;
  margin: 0px 22px;
  text-transform: uppercase;
}

.menu ul li a {
  text-decoration: none;
  color: white
}

.conteudo {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 798px;
  margin: auto;
  border-radius: 10px;
  padding: 30px 20px;
  margin-top: 30px;
  text-indent: 30px;

}

.conteudo p {
  text-align: justify;
  margin-bottom: 20px;
}